body{
  max-width: 100rem;
  margin: auto;
  font-size: 1rem;
  background-color: #E0BDBD;
}

a {
  text-decoration: none;
}

/* ===================== Header ===================== */

h1{
  display:flex;
  justify-content:center;
  margin-top: 0px;
  
  color: orange;
  font-size: 115px;
  font-family: "Indie Flower", sans-serif;
  text-shadow: 0px 2px 5px gray;
  
}

.fa-sun{
  color: yellow;
  transform: scale(3);
  text-shadow: -1px 0px orange, 0 1px orange, 1px 0 orange, 0 -1px orange;

}


/* ===================== Main Blocks ===================== */

.blocks{
  transform: scale(1.2);
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  color: #E86A8D;
  font-family: "Just Another Hand", sans-serif;
  font-size: 50px;
  text-shadow: -1px 0px #580B2A, 0 1px #580B2A, 1px 0 #580B2A, 0 -1px #580B2A;
}

#menu{
  text-align: center;
  background-color: #595B47;
  box-shadow: 0px 0px 3px black;
  outline: 2px solid black;
  width: 300px;
  height: 550px;
}

#potd{
  text-align: center;
  background-color: #595B47;
  box-shadow: 0px 0px 3px black;
  outline: 2px solid black;
  width: 300px;
  height: 550px;
}

#playlist{
  text-align: center;
  background-color: #595B47;
  box-shadow: 0px 0px 3px black;
  outline: 2px solid black;
  width: 300px;
  height: 550px;
}

.blocktext{
  display: block;
  margin-top: 10px;
  font-size: 110%;
}

#potd img{
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  border: 2px solid pink;
}

.quote{
  margin-top: 85px;
}


