body{
  max-width: 100rem;
  margin: auto;
  font-size: 1rem;
  background-color: #E0BDBD;
}


/* ===================== Texts ===================== */

h1{
  display:flex;
  justify-content:center;
  margin-top: 0px;
  
  color: orange;
  font-size: 115px;
  font-family: "Indie Flower", sans-serif;
  text-shadow: 0px 2px 5px gray;
  
}

.menus{
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  color: #E86A8D;
  font-family: "Just Another Hand", sans-serif;
  font-size: 50px;
  text-shadow: -1px 0px #580B2A, 0 1px #580B2A, 1px 0 #580B2A, 0 -1px #580B2A;
  letter-spacing: 3px;
  background-color: #595B47;
}

/* ===================== Images ===================== */

.fa-sun{
  color: yellow;
  transform: scale(3);
  text-shadow: -1px 0px orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
  z-index:-1;

}
