body{
  background-color: #E0BDBD;
}


/* ===================== Textos ===================== */

h1{
  text-align:center;
  margin-top:auto;
  color: orange;
  font-size: 115px;
  font-family: "Indie Flower", sans-serif;
  text-shadow: 0px 2px 5px gray;

  position: relative;
}

/* ===================== Imagens ===================== */

.fa-sun{
  color: yellow;
  transform: scale(4);
  position: absolute;

  top: 58px;
  right: 783px;
  z-index:-1;

}
